<table class="table table-striped">
    <thead>
        <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>Upload</th>
            <th>
                <input type="search" ng-model="query.title" placeholder="Search..." class="form-control">
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in model | filter:query">
            <td>
                <img ng-src="{{::item.poster_url}}" alt="{{::item.title}}'s poster" title="{{::item.title}}" style="width:100px">
            </td>
            <td>
                {{::item.title}}
            </td>
            <td>
                {{::item.upload_date | date:"dd/MM/yyyy"}}
            </td>
            <td>
                <a href="#{{::getDetailUrl({ stuff: item })}}" class="btn btn-default">Detail</a>
                <a href="#{{::getDetailUrl({ stuff: item })}}" ng-click="saveRenter({ stuff: item })" class="btn btn-default" ng-disabled="item.renter != null">Rent</a>
            </td>
        </tr>
    </tbody>
</table>