<form name="movieForm" novalidate class="form-horizontal" ng-submit="saveMovie()">
    <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" ng-model="model.title" class="form-control" id="exampleInputEmail1" placeholder="Example: Deadpool" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Poster URL</label>
        <input type="url" ng-model="model.poster_url" class="form-control" id="exampleInputPassword1" placeholder="Example: http://www.googleimages.com/scdf.jpg" required>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Movie URL</label>
        <input type="url" ng-model="model.movie_url" class="form-control" id="exampleInputEmail1" placeholder="Example: http://www.applemovies.com/batman.mp4" required>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Overview</label>
        <textarea type="text" ng-model="model.overview" class="form-control" id="exampleInputEmail1" placeholder="Example: Three years ago, two brothers broght back to the city..." rows="6">
        </textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
